.profile__status{
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 16px 0 0 30px;
}

@media screen and (max-width:760px) {
  .profile__status{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
  }
}